body {
  background-color: wheat;
}
a {
  color: wheat;
}
.menu {
  background: #d01919 !important;
  color: wheat !important;
}
.logo {
  display: flex;
}
.logo .text {
  padding: 13px 0px;
}
.ui.form {
  margin-top: 200px;
}

.server-left {
  position: fixed;
  bottom: 20px;
  left: 0;
  font-size: 36px;
}
.server-right {
  position: fixed;
  bottom: 20px;
  right: 0;
  font-size: 36px;
}
